.red{
  color: red;
  font-weight: bold;
  text-decoration: underline;
 }

.blue{
  color: blue;
  font-style: italic;
}

.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(229, 209, 248);
  margin: 20px auto;
  min-height: 100vh;
  width: 500px;
}

.title{
   text-align: center;
    }